<br>
<div class="grid-container">
  
      
        <div *ngFor="let country of countries">
          <div class="card-deck">
            <div class="card border-secondary mb-3">
              <img src="{{country.flag}}" class="card-img-top" alt="Card image cap" width="100" height="140">
              <div class="card-body">
                <h5 class="card-title">{{country.name}}</h5>
                <p class="card-text">Capital:{{country.capital}}</p>
                <p class="card-text">Region:{{country.region}}</p>
              </div>
            </div>
          </div>
        </div>
      
</div>


